.gallery
    
    align-items: center
    justify-content: center
    display: flex
    flex-wrap: wrap
    margin: 31px 25px

    &__img
        
        border-color: $grey
        border-style: solid
        border-width: 10px
        margin: 9px
        height: 100%
        width: auto
