.icons
    
    &__box

        align-items: center
        display: flex
        height: $iconsBoxSize
        justify-content: center
        margin-left: 20px
        width:  $iconsBoxSize

        &--active

            border-radius: 50%
            border-style: solid
            border-width: 1px

    &__icon
        
        &--human
            @extend .fa
            @extend .fa-user
            font-size: $iconSize

        &--picture
            @extend .fa
            @extend .fa-picture-o
            font-size: $iconSize