.navbar

    align-items: center
    background-color: $green
    border-color: $white
    border-style: solid
    border-width: 1px 0 0 0
    display: flex
    justify-content: flex-end
    height: 50px
    position: relative

    &__brand

        border-color: rgba(255, 255, 255, .5)
        border-radius: 50%
        border-style: solid
        border-width: 7px
        bottom: -20px
        height: 120px
        left: 10px
        position: absolute

    &__nav

        display: flex
        list-style: none
        margin: 0 20px 0 0
        padding: 0

        a
            color: $white

            &:hover
                text-decoration: none
                color: red
            &:focus
                text-decoration: none
       