.profile
    margin: 32px

    &__blockquote

        color: $greyProfile
        border-left-color: $green
        font-size: 14px
        font-style: italic
        margin-left: 30px
        width: 60%

        @media (max-width: $breakpoint)
            
            width: auto

    
    &__location
        margin-bottom: 40px

    &__mapMaker

        @extend .fa 
        @extend .fa-map-marker
                
        color: $greyProfile
        font-size: 16px
        margin-right: 10px