nav.navbar(ng-controller='NavbarCtrl')

        img.navbar__brand(src='img/MarylinMonroe.jpg' alt='Marylin Monroe logo')

        ul.navbar__nav
            li
                a.icons__box(
                ng-class="{ 'icons__box--active': isActive('/profile') }" href='#/profile')
                    i.icons__icon--human
            li
                a.icons__box.icons__box(
                ng-class="{ 'icons__box--active': isActive('/gallery') }" href='#/gallery')
                    i.icons__icon--picture
