doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    block title
      title My First Website :)

    block styles
      link(rel='stylesheet', href='styles/index.css')

  block body
    body
      h1 Very Big Title
      p.test.test--big test big
      p.someclass(ng-app='app', ng-controller='HelloWorldCtrl') {{ info }}

      script(type='text/javascript').
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');