extends layouts/_defaultLayout.jade

block title
  title Insys

block body

  body
    .container(ng-app='app')
        include includes/_topBanner.jade
        include includes/_navbar.jade
        
        div(ng-view)

    //- script(src='bower_components/angular/angular.min.js')
    //- script(src='bower_components/angular-route/angular-route.min.js')
    script(src='scripts/vendors.js')
    script(src='scripts/main.js')