section.gallery
    i.loading(ng-show="images==0")
    p.error(ng-show="error") Oops. Something went wrong :( Please reload page
    a(ng-repeat='image in images' ng-href='{{image.large}}' target='_blank')
        img.gallery__img(ng-src='{{ image.thumb }}' alt='')