section.profile
    h1 Marilin Monroe
     
    .profile__location 
        i.profile__mapMaker
        | Poznan, PL

    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laudantium voluptatem fugiat aspernatur ab unde, dolorem possimus aliquam, odit, natus beatae aperiam dignissimos dicta dolor, tenetur perferendis numquam porro deleniti.

    blockquote.profile__blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo ipsum nisi tenetur, expedita quidem perspiciatis praesentium odit molestias ex at, facilis consequuntur velit eveniet suscipit incidunt modi magni minima!

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam hic dolorem esse maxime perspiciatis nisi distinctio earum facere, voluptas laboriosam reiciendis ratione, iste sunt perferendis. Amet quod, voluptate saepe repudiandae.